* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #050a2c;
  color: white;
}

/* TOP BAR */
.topbar {
  background:linear-gradient(135deg, #4b0082, #0b2a49, #3b36c8, #5a06ae);
  text-align: center;
  padding: 10px;
  font-size: 18px;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}

/* BUY BUTTON */
.buy-btn {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  padding: 15px 40px;
  border-radius: 20px;
  border: none;
  color: white;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.buy-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00c6ff;
}

/* MENU */
.menu {
  cursor: pointer;
}

.menu span {
  display: block;
  width: 30px;
  height: 4px;
  background: white;
  margin: 5px 0;
}

/* NAV */
nav {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 20px;
  top: 80px;
  background: #0a1445;
  padding: 20px;
  border-radius: 10px;
}

nav.open {
  display: flex;
}

/* HERO */
.hero {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  align-items: center;
}

.hero-text h2 {
  font-size: 60px;
  font-weight: 800;
  line-height: 1.2;
}

.hero-text p {
  margin: 20px 0;
  font-size: 18px;
  color: #a0b3ff;
}

.hero-buttons button {
  padding: 12px 25px;
  margin-right: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

/* VISUAL */
.hero-visual {
  position: relative;
}

.glow-circle {
  width: 300px;
  height: 300px;
  background: radial-gradient(circle, #00c6ff, transparent);
  border-radius: 50%;
  position: absolute;
  filter: blur(80px);
}

.coin {
  width: 200px;
  height: 200px;
  background: gold;
  border-radius: 50%;
  position: relative;
  animation: spin 6s linear infinite;
}

.coin img{
    height: 100%;
    width: 100%;
    border-radius: 50%;

}
@keyframes spin {
  100% { transform: rotateY(360deg); }
}

/* TREASURY */
.treasury {
  margin: 40px;
  padding: 30px;
  border-radius: 20px;
  background: #0a1445;
  text-align: center;
}

.treasury h3 {
  font-size: 28px;
}

.treasury p {
  color: #1ea7ff;
  margin: 15px 0;
  cursor: pointer;
}

/* TOKENOMICS */
.tokenomics {
  padding: 50px;
  text-align: center;
}